.portfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.portfolio> span:nth-child(1){
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;

}
.portfolio> span:nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider{
    margin-top: 3rem;
    width: 90%;

}
.slide{
    position: relative;
    border-radius: 19px;
    overflow: hidden;
    
}
.slider-link{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.452);
z-index: 1;
border-radius: inherit;
display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: 700;
transition: all 500ms;
opacity: 0;
}
.slider-link:hover{
    opacity: 1;
}
.portfolio-slider .swiper-slide{
    width: 20rem;
}
.portfolio img{
    width: 28rem;
     
    filter: drop-shadow(-12px 15px 13px);

    
}

@media screen and (max-width: 480px){
    .portfolio{
        margin-top: 22rem;
        margin-bottom: 10rem;
    }
    .backCircle{
        display: none;
    }
   
}
